@CHARSET "ISO-8859-1";

@CHARSET "ISO-8859-1";
header,footer{
	  margin-left:200px;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color:white;
     border-radius:10px;
     margin-left:200px;
     width:865px;
    }
     
li {
    float: right;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 5px 66px;
    text-decoration: none;
    font-size:18px;
    width:39px;
 }

li a:hover {
     color: black;
}
#bodyid{
	margin-left:200px;
	width:900px ;
	height:650px;
	background-color:white;
	border-radius:10px;
}
body{
	 background-color:#418cf4;
	 font-family: 'Ubuntu', sans-serif;
}
.position{
	margin-left:200px;
	
}
.input_box{
	margin-left:200px;
	width:400px;
	height:27px;
	border-radius:5px;
	padding: 2px;
	
	border:1px solid black;
}
.input_box_ques{
	margin-left:200px;
	width:600px;
	height:45px;
	border-radius:5px;
	padding: 5px;
	border:2px solid black;
}
.btn{
	margin-left:200px;
	width:240px;
	height:35px;
	border-radius:5px;
	color:white;
	
	border:none;
	padding: 2px;
	background-color: #2179ed;
	font-size:15px;
	cursor: pointer;
}

.btn:hover{
        background-color: #034fb2;
}
.err{
	margin-left:200px;
	font-size:13px;
	color:red;
}

